<!doctype html>

<title>{% block title %}{% endblock %} - Auction </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav style="height: 75px;background-color:#F7CAC9;">
  <h1 style="font-size: 32pt;"><a href="{{ url_for('index') }}"style="color: rgb(121, 152, 255);">Auction World</a></h1>
  <ul>
    {% if g.user %}
      <li><h2 style="color: rgb(121, 152, 255);font-size: xx-large;position: absolute;left: 46%; top:-15%">User: {{ g.user['firstname'] }} {{ g.user['lastname'] }} </h2></li>
      <li>
        <div style="background-color:#ffffff;width:fit-content;position: relative;left: 370px;top: -10px;">
          <h5 style="color: rgb(11, 224, 93);position: relative;margin:5px">Total Fund: {{ "${:,}".format(g.user['total_fund']) }}</h5>
          <h5 style="color: rgb(198, 201, 34);position: relative;margin:5px">Held Funds: {{ "${:,}".format(g.user['held_fund']) }}</h5>
        </div>
      </li>
      <li>
        <div class="dropdown" style ="position:relative;top:30px;left:0px;">
          <button>Rankings</button>
          <div class="dropdown-content">
            <a  href="{{ url_for('ranking.get_top_freq_sellers') }}">get_top_freq_sellers</a>
            <a  href="{{ url_for('ranking.get_top_freq_buyers') }}">get_top_freq_buyers</a>
            <a  href="{{ url_for('ranking.get_top_purchase') }}">get_top_purchase</a>
            <a  href="{{ url_for('ranking.get_top_ask_price') }}">get_top_ask_price</a>
          </div>
        </div> 
      </li>
      <li>
        <div class="dropdown" style ="position:relative;top:30px;;left:-200px;">
          <button>Sort By</button>
          <div class="dropdown-content" style="width: 275%;">
            <a  href="{{ url_for('sorting.priceAsc') }}">Price(Ascending)</a>
            <a  href="{{ url_for('sorting.priceDesc') }}">Price(Descending)</a>
            <a  href="{{ url_for('sorting.mostRecent') }}">Time(Most Recent)</a>
            <a  href="{{ url_for('sorting.oldest') }}">Time(Oldest)</a>
          </div>
        </div> 
      </li>
      
      

      <li><a href="{{ url_for('blog.notifications') }}" style="position: relative;top: 28px;">Notifications</a></li>
      <li><a href="{{ url_for('account.index') }}" style="position: relative;top: 28px;">Account</a></li>
      <li><a href="{{ url_for('auth.logout') }}" style="position: relative;top: 28px;">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
