{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Account{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article>
    <div class="total_fund">Current Balance: {{ "${:,}".format(g.user['total_fund']) }}</div>
    <div class="held_fund">Fund On Hold: {{ "${:,}".format(g.user['held_fund']) }}</div>
    <a class="action" href="{{ url_for('account.deposit') }}">Deposit</a>
    <a class="action" href="{{ url_for('account.withdrawal') }}">Withdrawal</a>
  </article>
{% endblock %}